img {
  width: 100%;
}

.testimony {
  font-family: Inter;
  font-style: normal;
}

.testimony-content {
  background: #222222;
  padding-top: 50px;
  color: #ffffff;
}
.testimony-container {
  max-width: 1100px;
  margin: 0 auto;
}

.testimony-image img {
  width: 550px;
  height: 500px;
}

.customer-content .customer-text {
  margin: 45px auto;
  max-width: 417px;
}

.customer-text h1 {
  font-weight: bold;
  font-size: 32px;
  line-height: 39px;
  letter-spacing: 0.01em;
  color: #ffffff;
  margin-bottom: 10px;
}

.customer-text span {
  font-weight: 500;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #ffffff;
  border: 1px solid rgba(255, 255, 255, 0.4);
  box-sizing: border-box;
  border-radius: 4px;
  padding: 5px 8px;
}

.customer-text p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  margin: 50px 0;
}

.button {
  cursor: pointer;
}

.button h1 {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  margin: 0;
}

.testimonies {
  max-width: 1100px;
  margin: 0 auto;
  padding: 80px 0;
}

.single-testimony img {
  width: 160px;
  height: 160px;
}

.single-testimony h1 {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.02em;
  color: #474747;
  margin-top: 14px;
}

.customers-fluid {
  margin-top: 10px;
}

.customer-location {
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.05em;
  color: #535353;
  margin-right: 15px;
}

.customers-blue {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #0d019a;
  background: #eef8ff;
  border-radius: 4px;
  padding: 5px;
}

.customers-green {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #049a01;
  background: #f0ffee;
  border-radius: 4px;
  padding: 5px;
}

.single-testimony p {
  margin-top: 22px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #474747;
}

.testimony-content2 {
  background: #fff8f5;
  padding-top: 50px;
  color: #242120;
}

.testimony-content2 .testimony-container {
  max-width: 1100px;
  margin: 0 auto;
}

.testimony-content2 .testimony-image img {
  width: 550px;
  height: 500px;
}

.testimony-content2 .customer-text {
  margin: 45px auto;
  max-width: 417px;
}

.testimony-content2 h1 {
  font-weight: bold;
  font-size: 32px;
  line-height: 39px;
  letter-spacing: 0.01em;
  color: #242120;
  margin-bottom: 10px;
}

.customer-text span {
  font-weight: 500;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #ff5c00;
  border: 1px solid rgba(255, 92, 0, 0.4);
  box-sizing: border-box;
  border-radius: 4px;
  padding: 5px 8px;
}

.customer-text p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  margin: 50px 0;
}

.button {
  cursor: pointer;
}

.button h1 {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  margin: 0;
  color: #ff5c00;
}

.testimony-image2 {
  background: url("/src/assets/Ellipse\ 7.png") center center/cover no-repeat;
  object-fit: contain;
}

.testimony-image2 img {
  width: 550px;
  height: 500px;
}
